<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright (c) Bryan Berns.
Licensed under GPLv3. See LICENSE.md.
-->

<configuration>
  <appSettings>
    <!-- Use auto for Horizon sessions, true for software rendering, or false for WPF's default rendering. -->
    <add key="SoftwareRendering" value="auto" />
    <!-- Add sidebar buttons with Link: followed by the button name. Examples:
    <add key="Link:PKI Portal" value="https://pki.example.com/" />
    <add key="Link:Published Certificates" value="%WINDIR%\System32\CertSrv\CertEnroll" />
    <add key="Link:Shared Folder" value="\\server\share" />
    -->
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures.3=false;Switch.System.Windows.DoNotUsePresentationDpiCapabilityTier2OrGreater=false;Switch.System.Security.Cryptography.UseLegacyFipsThrow=false" />
  </runtime>
</configuration>
